

/*------------------------------------*\
  RESET
\*------------------------------------*/

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */

body {
	background:url(img/bg.jpg) no-repeat scroll transparent center top;
	display:block;
	margin:8px;
	font-family:Arial, Helvetica, sans-serif;
}

#count {width:740px;
background-color:#FFF;
color:#000;
font-size:48px;
margin-left:auto;
margin-right:auto;
margin-top:250px;
padding:20px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

#days {color:green;}